<!-- 项目状态模态框 -->
<form class="form-horizontal ajax-form-1" method="post" action="{:new_url('admin/Goods/saveAttrVal')}">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title">
		{notempty name='Request.param.attr_name'}{$Request.param.attr_name}的属性值
		{else/}
		{$attr_val_info.name}
		{/notempty}
		</h4>
	</div>
	<div class="modal-body">	
		<div class="row">
			<div class="col-sm-12">
				<input type="hidden" id="id" name="id" value="{$Request.param.id}" />
				<input type="hidden" id="attr_id" name="attr_id" value="{$Request.param.attr_id}" />
				<div class="form-group">
					<label class="col-sm-3 control-label no-padding-right">属性值 </label>
					<div class="col-sm-9">
						<input type="text" name="name" id="name" value="{$attr_val_info.name|default=''}" placeholder="名称" class="col-xs-8" required/>
						<span class="help-inline col-sm-2">
							<span class="middle red">*</span>
						</span>
					</div>
				</div>													
				<div class="space-4"></div>												
				<div class="form-group">
					<label class="col-sm-3 control-label no-padding-right">是否启用 </label>
					<div class="col-sm-9" style="margin-top:0.78rem">
						<label class="col-sm-2">
							<input class="ace ace-switch ace-switch-4 btn-rotate" name="is_enabled" type="checkbox" value="1" {if condition="($attr_val_info.is_enabled eq 1) OR !isset($attr_val_info.is_enabled)"}checked="checked"{/if}>
							<span class="lbl"></span>
						</label>
						<span class="help-inline col-xs-6">
							<span class="middle">默认启用</span>
						</span>							
					</div>
				</div>													
				<div class="space-4"></div>
				<div class="form-group">
					<label class="col-sm-3 control-label no-padding-right">排序 </label>
					<div class="col-sm-9">
						<input type="text" name="sort" id="sort" value="{$attr_val_info.sort|default='100'}" placeholder="排序" class="col-xs-8" required onkeyup="value=value.replace(/[^\d\.]/g,'')"/>
						<span class="help-inline col-xs-2">
							<span class="middle"></span>
						</span>
					</div>
				</div>									
			</div>														
		</div>
	</div>
	<div class="modal-footer">
		<button type="submit" class="btn btn-success">提交</button>
		<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
		{if condition="session('aid')==10000"}
		<a href="{:url('admin/Goods/delAttrVal',['ids'=>$attr_val_info.id])}" class="btn btn-danger confirm-btn" data-info='确认删除？'>删除</a>
		{/if}
	</div>	
</form>
<script type="text/javascript">

</script>