{extend name="public/base" /}
{block name="ajax-content"}
	<div class="page-header">
		<h1>
			数据分配
			<small>
				<i class="ace-icon fa fa-angle-double-right"></i>
				分配设置
			</small>
		</h1>
	</div><!-- /.page-header -->
	<div class="row margintop">
		<div class="col-md-3 input-group-btn">
		  <a class="btn btn-sm btn-info" data-ajax-page='true' href="{:url('editDispatchConfig')}"><i class="ace-icon fa fa-plus bigger-110"></i>添加配置</button></a> 
		  {notempty name="dispatch_list"}<a class="btn btn-sm btn-default" data-rel="tooltip" data-placement="bottom" title="删除" onclick="del_data()"> <i class="ace-icon fa fa-trash-o bigger-110"></i> </a>{/notempty}
		 </div>
	 </div>
	 <div class="row">
	   <div class="col-xs-12">
	     <div>
	       <table class="table table-striped table-bordered table-hover" id="dynamic-table">
	         <thead>
	           <tr>
	             <th class="center col-xs-1 hidden-xs">
	             <label class="pos-rel">
	                 <input type="checkbox" class="ace input-lg check-all" value="{:url('delDispatch')}"/>
	                 <span class="lbl"></span>
	              </label>
	             </th>
	             <th class="hidden-xs"><nobr>分配ID</nobr></th>
	             <th class="hidden-sm hidden-xs">名称</th>
	             <th>分配有效时长</th>
	             <th>分配方式</th>
	             <th>计算周期</th>
	             <th>是否启用</th>
	             <th class="hidden-sm hidden-xs">提交时间</th>
	             <th style="border-right:#CCC solid 1px;">操作</th>
	          </tr>  
	        </thead>
	        <tbody>
			{foreach name="dispatch_list" item="dispatch_info"}
			<tr id="data_{$dispatch_info.id}">
				<td class="center col-xs-1 hidden-xs">
					<label class="pos-rel">
						<input type="checkbox" class="ace input-lg check-data" value="{$dispatch_info.id}"/>
						<span class="lbl"></span>
					</label>
				</td>
				<td class="hidden-xs" height="28" >{$dispatch_info.id}</td>
				<td class="hidden-sm hidden-xs" height="28" ><nobr>{$dispatch_info.group_title|default="【未设置】"}</nobr></td>
				<td><nobr>{$dispatch_info.duration_time}小时</nobr></td>
				<td><nobr>{if condition="$dispatch_info.type =='percent'"}百分比{else/}数量{/if}</nobr></td>
				<td><nobr>{if condition="$dispatch_info.cycle =='months'"}上个月业绩
			  			{elseif condition="$dispatch_info.cycle =='weeks'"/}上个星期业绩
			  			{else/}{$dispatch_info.total_days}天前至今业绩{/if}</nobr></td>
				<td class="hidden-sm hidden-xs">
					{if condition="$dispatch_info.is_enabled eq 1"}
						<a class="yellow open-btn" href="{:url('changeDispatchState')}" data-id="{$dispatch_info.id}" title="已开启">
							<span id="enabled_{$dispatch_info.id}"><button class="btn btn-minier btn-yellow">开启</button></span>
						</a>
						{else/}
						<a class="red open-btn" href="{:url('changeDispatchState')}" data-id="{$dispatch_info.id}" title="已禁用">
							<span id="enabled_{$dispatch_info.id}"><button class="btn btn-minier btn-danger">禁用</button></span>
						</a>
					{/if}				
				</td>  
				<td class="hidden-sm"><nobr>{$dispatch_info.create_time|date="Y-m-d H:i",###|default="time()"}</nobr></td>
				<td>
				  <div class="hidden-sm hidden-xs btn-group action-buttons">
				  	<a class="btn btn-xs btn-warning" data-rel="tooltip" data-toggle="modal" data-target="#edit_data" title="成员管理" href="{:url('memberList',['id'=>$dispatch_info.id,'modal'=>'remote'])}" data-placement="bottom"><i class="ace-icon fa fa-users bigger-160"></i></a>
				  	<a class="btn btn-xs btn-info select-modal" data-rel="tooltip" data-ajax-page='true' href="{:url('editDispatchConfig',['id'=>$dispatch_info.id])}" title="查看信息" data-placement="bottom"><i class="ace-icon fa fa-pencil-square-o bigger-160"></i></a>
					<a>&nbsp;</a> 
				  </div>
				    <div class="hidden-md hidden-lg">
					    <div class="inline position-relative">
					      	<button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown" data-position="auto" data-rel="tooltip" title="操作"> <i class="ace-icon fa fa-cog icon-only bigger-110"></i> </button>
						    <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
						    	<li><a class="btn btn-xs btn-warning" data-rel="tooltip" data-toggle="modal" data-target="#edit_data" title="成员管理" href="{:url('memberList',['id'=>$dispatch_info.id,'modal'=>'remote'])}" data-placement="bottom"> <i class="ace-icon fa fa-users bigger-160"></i></a></li>
							  	<li><a class="btn btn-xs btn-info" data-rel="tooltip" data-placement="bottom" data-ajax-page='true' href="{:url('editDispatchConfig',['id'=>$dispatch_info.id])}" title="查看信息"> <i class="ace-icon fa fa-pencil-square-o bigger-160"></i></a></li>
							</ul>
					    </div>
				  </div>
				</td>
			</tr>
			{/foreach}
	        </tbody>
	      </table>
	    </div>
	  </div>
	  <div class="col-xs-12 center">{$page}</div>
	</div>
  
	<!-- 项目状态模态框 -->
	<div class="modal fade" id="edit_data" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	    <div class="form-horizontal modal-dialog">
	      <div class="modal-content">
	      
	      </div>
	      <!-- /.modal-content --> 
	   </div>
	   <!-- /.modal-dialog -->
	</div>	  

<script type="text/javascript">

</script> 
{/block}