{extend name="public/base" /}
{block name="main-content"}

<div class="page-content">

		<div class="row">
			<div class="col-xs-12">
				<a data-toggle="modal" class="btn btn-info" href="{:url('bbb')}" data-target="#myModal">Click me !</a>
				<!-- Modal -->
				<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				    <div class="modal-dialog">
				        <div class="modal-content">
				            
				        </div> <!-- /.modal-content -->
				    </div> <!-- /.modal-dialog -->
				</div> <!-- /.modal -->			
			</div>
			
		</div>	

</div>


{/block}

{block name="scripts"}
<script type="text/javascript">



</script>
{/block}



