{notempty name="city_list"}
{volist name="city_list" id="city_info"}
<tr id="{$selector}_{$city_info.id}">
	<td class="center">
		<i class="fa ace-icon blue fa-plus bigger-150 open-tr" data-pid='{$city_info.id}' data-selector='{$selector}_{$city_info.id}' style='cursor: pointer'/></i>																								
</td>
<td class="hidden-sm hidden-xs">{$city_info.code}</td>
<td class="hidden-sm hidden-xs col-xs-2 left">{:levle_name($city_info.name,$city_info.levle)}</td>
<td class="center hidden-sm hidden-xs">{$city_info.levle}</td>
<td>
{if condition="$city_info['is_enabled'] eq 1"}
	<a class="btn btn-minier btn-yellow status-btn" href="{:url('admin/Sys/changeCityStatus',['pid'=>$city_info.pid])}" data-id="{$city_info.id}" title="已启用">
		启用
	</a>
	{else/}
	<a class="btn btn-minier btn-danger status-btn" href="{:url('admin/Sys/changeCityStatus',['pid'=>$city_info.pid])}" data-id="{$city_info.id}" title="已禁用">
		禁用
	</a>
{/if}						
</td>
<td class="hidden-sm hidden-xs col-xs-1">
	<input class='form-control input-sm width-80 list-order' name="{$city_info.id}" value='{$city_info.sort}'>						
</td>
<td class="hidden-sm hidden-xs">{$city_info.create_time|date='Y-m-d',###}</td>
<td style="border-right:#CCC solid 1px;">
		<div class="hidden-sm hidden-xs btn-group action-buttons"> 
			<a class="btn btn-xs btn-success" data-rel="tooltip" data-placement="bottom" data-toggle="modal" data-target="#edit_data" href="{:url('admin/Sys/editCity',['id'=>$city_info['id']])}" title="编辑">
			<i class="ace-icon fa fa-pencil bigger-160"></i>
			</a>	
			<a class="btn btn-xs btn-default confirm-btn" data-info='确定删除吗？{if condition="$city_info.levle<4"}（其子分类会一同删除）{/if}' data-rel="tooltip" data-placement="bottom" href="{:url('admin/Sys/delCity',['ids'=>$city_info['id']])}" title="删除">
			<i class="ace-icon fa fa-trash-o bigger-160"></i>
			</a>
		</div>		
		<div class="hidden-md hidden-lg">
			<div class="inline position-relative">
				<button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown" data-position="auto">
					<i class="ace-icon fa fa-cog icon-only bigger-110"></i>
				</button>
				<ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
					<li>
						<a class="btn btn-xs btn-success" data-rel="tooltip" data-placement="bottom" data-toggle="modal" data-target="#edit_data" href="{:new_url('admin/Sys/editCity',['id'=>$city_info['id']])}" title="编辑">
							<span class="green">
								<i class="ace-icon fa fa-pencil bigger-120"></i>
							</span>
						</a>
					</li>
					<li>
						<a class="btn btn-xs btn-default confirm-btn" data-info='确定删除吗？{if condition="$city_info.levle<4"}（其子分类会一同删除）{/if}' data-rel="tooltip" data-placement="bottom" href="{:url('admin/Sys/delCity',['ids'=>$city_info['id']])}" title="删除">
							<span class="green">
								<i class="ace-icon fa fa-trash-o bigger-120"></i>
							</span>
						</a>
					</li>																				
				</ul>
			</div>
		</div>						
	</td>
</tr>
{/volist}	
{/notempty}	