{extend name="public/base" /}
{block name="ajax-content"}
	<div class="page-header">
		<h1>
			系统管理
			<small>
				<i class="ace-icon fa fa-angle-double-right"></i>
				城市数据
			</small>
		</h1>
	</div><!-- /.page-header -->
<!-- 	<div class="alert alert-info">
		<button class="close" type="button" data-dismiss="alert">
		<i class="ace-icon fa fa-times"></i>
		</button>
		<a class="red" target="_blank" href='http://kf.qq.com/faq/120322fu63YV130422aEv6nq.html'>微信公众平台如何添加被动回复 </a>
		（每个公众最多且只能启用一条自动回复！）
	</div>	 -->
	<form class="form-search form-horizontal" id="ajax_page_list" method="post" action="{:url('admin/Sys/cityList')}">
		<div class="row margintop" id="table_bar">
			<div class="col-xs-12 col-lg-5">
				{customTag:pageNum width='35%' select_num='$Request.param.page_num'/}		  		        				
			</div>
			<div class="col-xs-12 col-lg-3">
				<div class="input-group"><span class="input-group-addon"><i class="ace-icon fa fa-check"></i> </span>
					<input type="text" name="key_words" id="key_words" class="input-xs form-control" value="{$Request.param.key_words}" placeholder="名称" />
				</div>       
			</div>			
			<div class="col-xs-12 col-lg-4 input-group-btn"> 
				<a data-ajax-page='true' class="btn btn-sm btm-input btn-purple ajax-search-form" data-rel="tooltip" data-placement="bottom" title="搜索"> <i class="ace-icon fa fa-search icon-on-right bigger-130"></i> 搜索 </a>
				<a data-ajax-page='true' class="btn btn-sm  btn-success" href="{:url('admin/Sys/cityList')}" data-rel="tooltip" data-placement="bottom" title="显示全部"><i class="ace-icon fa fa-globe bigger-130"></i> 显示全部 </a>	
				<a href="{:new_url('admin/Sys/editCity')}" class="btn btn-sm btn-info"  data-rel="tooltip" data-placement="bottom" title="添加" data-toggle="modal" data-target="#edit_data"><i class="ace-icon fa fa-plus bigger-130"></i>添加城市</a>
			</div>
		</div>  	 
		<div class="row margintop">
			<div class="col-xs-12">
				<table data-locale='zh-CN' data-toggle="table" data-toolbar="#table_bar" data-search='true' data-show-columns="true" class="table table-striped table-bordered table-condensed table-hover">
					<thead>
						<tr>
							<th class="center">展开/折叠</th>
							<th data-sortable="true" class="center hidden-sm hidden-xs">城市编码</th>
							<th data-sortable="true" class="center hidden-sm hidden-xs">名称</th>
							<th class="center hidden-sm hidden-xs">经纬度</th>
							<th class="center">是否启用</th>
							<th data-sortable="true" class="center hidden-sm hidden-xs">排序</th>
							<th data-sortable="true" class="center hidden-sm hidden-xs">添加时间</th>
							<th style="border-right:#CCC solid 1px;">操作</th>
						</tr>	
					</thead>	
					<tbody>
						{volist name="city_list" id="city_info"}
						<tr id="pid_{$city_info.id}">
							<td class="center">
								<i class="fa ace-icon blue fa-plus bigger-150 open-tr" data-pid='{$city_info.id}' data-selector='pid_{$city_info.id}' style='cursor: pointer'/></i>																								
							</td>
							<td class="hidden-sm hidden-xs">{$city_info.code}</td>
							<td class="hidden-sm hidden-xs col-xs-2 left">{:levle_name($city_info.name,$city_info.levle)}</td>
							<td class="center hidden-sm hidden-xs">{$city_info.levle}</td>
							<td>
							{if condition="$city_info['is_enabled'] eq 1"}
								<a class="btn btn-minier btn-yellow status-btn" href="{:url('admin/Sys/changeCityStatus',['pid'=>$city_info.pid])}" data-id="{$city_info.id}" title="已启用">
									启用
								</a>
								{else/}
								<a class="btn btn-minier btn-danger status-btn" href="{:url('admin/Sys/changeCityStatus',['pid'=>$city_info.pid])}" data-id="{$city_info.id}" title="已禁用">
									禁用
								</a>
							{/if}						
							</td>
							<td class="hidden-sm hidden-xs col-xs-1">
								<input class='form-control input-sm width-80 list-order' name="{$city_info.id}" value='{$city_info.sort}'>						
							</td>
							<td class="hidden-sm hidden-xs">{$city_info.create_time|date='Y-m-d',###}</td>
							<td style="border-right:#CCC solid 1px;">
								<div class="hidden-sm hidden-xs btn-group action-buttons">
									<a class="btn btn-xs btn-success" data-rel="tooltip" data-placement="bottom" data-toggle="modal" data-target="#edit_data" href="{:new_url('admin/Sys/editCity',['id'=>$city_info['id']])}" title="编辑">
									<i class="ace-icon fa fa-pencil bigger-160"></i>
									</a>						
									<a class="btn btn-xs btn-default confirm-btn" data-info='确定删除吗？{if condition="$city_info.levle<4"}（其子分类会一同删除）{/if}' data-rel="tooltip" data-placement="bottom" href="{:url('admin/Sys/delCity',['ids'=>$city_info['id']])}" title="删除">
									<i class="ace-icon fa fa-trash-o bigger-160"></i>
									</a>
								</div>		
								<div class="hidden-md hidden-lg">
									<div class="inline position-relative">
										<button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown" data-position="auto">
											<i class="ace-icon fa fa-cog icon-only bigger-110"></i>
										</button>
										<ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
											<li>
												<a class="btn btn-xs btn-success" data-rel="tooltip" data-placement="bottom" data-toggle="modal" data-target="#edit_data" href="{:new_url('admin/Sys/editCity',['id'=>$city_info['id']])}" title="编辑">
													<span class="green">
														<i class="ace-icon fa fa-pencil bigger-120"></i>
													</span>
												</a>
											</li>
											<li>
												<a class="btn btn-xs btn-default confirm-btn" data-info='确定删除吗？{if condition="$city_info.levle<4"}（其子分类会一同删除）{/if}' data-rel="tooltip" data-placement="bottom" href="{:url('admin/Sys/delCity',['ids'=>$city_info['id']])}" title="删除">
													<span class="green">
														<i class="ace-icon fa fa-trash-o bigger-120"></i>
													</span>
												</a>
											</li>																				
										</ul>
									</div>
								</div>						
							</td>
						</tr>
						{/volist}	
					</tbody>								
				</table>
			</div>		
		</div> 
	</form> 
 	<div class="row">
		<div class="col-xs-1 btn-corner">
		<a class="btn btn-white btn-yellow btn-sm btn-order" href="{:url('admin/Sys/cityOrder')}">排序</a>
		</div>
		<div class="col-xs-10 center">{$page}</div>
		<div class="col-xs-1"></div>	
	</div>
	<!-- 项目模态框 -->
	<div class="modal fade" id="edit_data" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	    <div class="form-horizontal modal-dialog">
	      <div class="modal-content">
	
	      </div>
	      <!-- /.modal-content --> 
	    </div>
	    <!-- /.modal-dialog -->
	</div>	
	{include file="file_upload/fileModal" /} 
	
	<script type="text/javascript">
		$("table").unbind().delegate('.open-tr','click',function(){
			var category_pid=$(this).data('pid'),
			selector=$(this).data('selector'),
			tr=$(this).parents('tr');
			//判断是否已展开
			if($(this).hasClass('fa-minus')){
				//隐藏
				$(this).removeClass('fa-minus').addClass('fa-plus ');
				$("tr[id^='"+selector+"_']").hide();
			}
			else{
				//展开；是否存在数据
				$(this).removeClass('fa-plus').addClass('fa-minus ');
				if($("tr[id^='"+selector+"_']").length > 0){
					$("tr[id^='"+selector+"_']").show(100);
				}
				else{
					$.ajax({
						url:"{:url('admin/Sys/cityList')}",
						type:'POST',
						data:{'pid':category_pid,'selector':selector,'type':'sub'},
 						dataType: "html",
 						success: function(data){
 							if(data)tr.after(data);
 						}
					})
				}
			}
		})
	</script>		 
{/block}	    	