<!-- 项目状态模态框 -->
<form class="form-horizontal ajax-form-1" method="post" action="{:new_url('admin/Sys/saveAuthGroup')}">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h4 class="modal-title">{$group_info.title|default=''}</h4>
	</div>
	<div class="modal-body">	
		<input type="hidden" value="{$Request.param.id}" name="id" id="id" /> 
		<div class="form-group">
			<label class="col-sm-3 control-label no-padding-right"
				for="form-field-1">权限组名称 </label>
			<div class="col-sm-9">
				<input type="text" name="title" id="title" value="{$group_info.title|default=''}" placeholder="权限组名称" class="col-xs-10 col-sm-7" />
				<span class="help-inline col-xs-12 col-sm-5"> 
				<span class="middle" id="restwo"></span>
				</span>
			</div>
		</div>
		<div class="space-4"></div>
		<div class="form-group">
			<label class="col-sm-3 control-label no-padding-right" for="form-field-1">是否启用</label>
			<div class="col-sm-1" style="margin-top:0.78rem">
				<label>
					<input class="ace ace-switch ace-switch-4 btn-rotate" name="is_enabled" type="checkbox" value="1" {if condition="$group_info.is_enabled eq '1'"}checked="checked"{elseif condition="$group_info.id eq null"/}checked="checked"{/if}>
					<span class="lbl"></span>
				</label>
				<span class="help-inline col-xs-12 col-sm-5">
					<span class="middle" id="resone"></span>
				</span>							
			</div>
		</div>	
	</div>
	<div class="modal-footer">
		<button class="btn btn-info" type="submit"><i class="ace-icon fa fa-check bigger-110"></i>保存</button>
		<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
	</div>
</form>

