{extend name="public/base" /}
{block name="ajax-content"}
	<div class="page-header">
		<h1>
			系统管理
			<small>
				<i class="ace-icon fa fa-angle-double-right"></i>
				微信公众号列表
			</small>
		</h1>
	</div><!-- /.page-header -->
    <div class="row margintop">
		<form class="form-search"  method="post" id="ajax_page_list" action="{:url('admin/Sys/wechatList')}" autocomplete="off">
			<div class="col-xs-4 col-lg-6">
				{customTag:pageNum width='29%' select_num='$Request.param.page_num'/}
				<select name="wechat_type" class="ajax-change select2" data-width='69%' data-size="8" data-style='btn btn-primary btn-white' data-live-search="true" data-live-search-placeholder='搜索'>
					<option value="">按分类</option>	
					{volist name="Think.config.extarray.wechat_type" id="type_info"}
						<option value="{$type_info.code}" {if condition="$type_info.code eq $Request.param.wechat_type"}selected{/if}>{$type_info.title}</option>
					{/volist}									
				</select>				
			</div>
			<div class="col-xs-6 col-lg-6 input-group-btn">
				<a href="{:url('admin/Sys/wechatList')}" class="btn btn-sm all-btn btn-success" data-ajax-page='true'data-rel="tooltip" data-placement="bottom" title="显示全部"><i class="ace-icon fa fa-globe icon-on-right bigger-130"></i>全部</a> 
				<a href="{:url('admin/Sys/editWechat')}" class="btn btn-sm btn-info"  data-rel="tooltip" data-placement="bottom" title="添加" data-toggle="modal" data-target="#edit_data"><i class="ace-icon fa fa-plus bigger-130"></i>添加公众号</a>
				{notempty name="wechat_list"}
				<a class="btn btn-sm btn-default del-data" data-rel="tooltip" data-placement="bottom" title="删除"> <i class="ace-icon fa fa-trash-o bigger-130"></i> </a>			 
				{/notempty}
			</div>			   		
		</form>
    </div>	
	<div class="row">
		<div class="col-xs-12 table-responsive">
			<table class="table table-striped table-bordered table-hover">
				<thead>
				<tr>
					<th class="center">
						<label class="pos-rel">
							<input type="checkbox" class="ace input-lg check-all" value="{:url('admin/Sys/delWechat')}"/>
							<span class="lbl"></span>															
						</label>											
					</th>
					<th class="center">微信名称</th>
					<th class="center">微信类型</th>
					<th class="center">APPID</th>
					<th class="center hidden-md">APPKEY</th>
					<th class="center hidden-md">排序</th>
					<th class="center hidden-md">是否启用</th>
					<th class="center hidden-md">添加时间</th>
					<th style="border-right:#CCC solid 1px;">操作</th>
				</tr>
				</thead>
				<tbody>
					{foreach name="wechat_list" item="wechat_info"}
						<tr class="center" id="data_{$wechat_info.id}">
							<td class="hidden-xs" align="center">
								<label class="pos-rel">
									<input class="ace input-lg check-data"  type='checkbox' value='{$wechat_info.id}'>
									<span class="lbl"></span>
								</label>
							</td>	
							<td>{$wechat_info.title}</td>
							<td>
							{volist name="Think.config.wechatExt.wechat_type" id="type_info"}
								 {if condition="$type_info.code eq $wechat_info.wechat_type"}{$type_info.title}{/if}
							{/volist}					
							</td>
							<td>{$wechat_info.app_id|default='【未设置】'}</td>
							<td class="hidden-md">{$wechat_info.app_secret|default='【未设置】'}</td>
							<td class='hidden-md col-xs-1'><input class='form-control input-sm list-order' name="{$wechat_info.id}" value='{$wechat_info.sort}'></td>
							<td class="hidden-md">
								{if condition="$wechat_info['is_enabled'] eq 1"}
									<a class="btn btn-minier btn-yellow status-btn" href="{:url('admin/Sys/changeWechatStatus')}" data-id="{$wechat_info.id}" title="已开启">
										开启
									</a>
									{else/}
									<a class="btn btn-minier btn-danger status-btn" href="{:url('admin/Sys/changeWechatStatus')}" data-id="{$wechat_info.id}" title="已禁用">
										禁用
									</a>
								{/if}
							</td>
							<td class="hidden-md">{$wechat_info.create_time|date="Y-m-d",###}</td>
							<td>
								<div class="hidden-sm hidden-xs btn-group action-buttons">
									<a class="btn btn-xs btn-success" data-rel="tooltip" data-placement="bottom" href="{:new_url('admin/Sys/editWechat',['id'=>$wechat_info['id']])}" data-toggle="modal" data-target="#edit_data" title="编辑">
									<i class="ace-icon fa fa-pencil-square-o bigger-160"></i>
									</a>
								</div>		
								<div class="hidden-md hidden-lg">
									<div class="inline position-relative">
										<button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown" data-position="auto">
											<i class="ace-icon fa fa-cog icon-only bigger-110"></i>
										</button>
										<ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
											<li>
												<a href="{:new_url('admin/Sys/editWechat',['id'=>$wechat_info['id']])}" data-toggle="modal" data-target="#edit_data" data-placement="bottom" data-rel="tooltip" title="编辑">
													<span class="green">
														<i class="ace-icon fa fa-pencil bigger-120"></i>
													</span>
												</a>
											</li>
										</ul>
									</div>
								</div>
							</td>
						</tr>
					{/foreach}
				</tbody>
			</table>
		</div>
	</div>
	<div class="row margintop">
		<div class="col-xs-1">
		<a class="btn btn-white btn-yellow btn-sm btn-order" href="{:url('admin/Sys/wechatOrder')}">排序</a>
		</div>
		<div class="col-xs-10 center">{$page}</div>
		<div class="col-xs-1"></div>	
	</div>	
	<!-- 项目模态框 -->
	<div class="modal fade" id="edit_data" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	    <div class="form-horizontal modal-dialog">
	      <div class="modal-content">
	
	      </div>
	      <!-- /.modal-content --> 
	    </div>
	    <!-- /.modal-dialog -->
	</div>	
<script type="text/javascript">
</script>
{/block}
