<div class="footer">
	<div class="footer-inner">
		<!-- #section:basics/footer -->
		<div class="footer-content">
			<span class="bigger-120">
				<span class="blue bolder">{$foot_info.name|default='LDF'}</span>
				版权所有 &copy; 2016-{:date('Y')}
			</span>
			&nbsp; &nbsp;
			<span class="action-buttons">
				<a href="#">
					<i class="ace-icon fa fa-qq light-blue bigger-150"></i>
				</a>

				<a href="#">
					<i class="ace-icon fa fa-weibo text-primary bigger-150"></i>
				</a>

				<a href="#">
					<i class="ace-icon fa fa-weixin orange bigger-150"></i>
				</a>
			</span>
		</div>

		<!-- /section:basics/footer -->
	</div>
</div>