{extend name="public/base" /}
{block name="ajax-content"}
	<div class="page-header">
		<h1>
			素材管理
			<small>
				<i class="ace-icon fa fa-angle-double-right"></i>
				幻灯片列表<span class='red'>（不建议启用数量超过10张）</span>
			</small>
		</h1>
	</div><!-- /.page-header -->
	<form class="form-search form-horizontal" id="ajax_page_list" method="post" action="{:new_url('admin/Material/slideList')}">
		<div class="row margintop" id="table_bar">
			<div class="col-xs-12 col-lg-4">
				{customTag:pageNum  width='35%' select_num='$Request.param.page_num'/}	
		        <select name="scene" class="ajax-change select2" style="width:63%" data-placeholder='点击选择'>
		        		<option value="">场景</option>
					{volist name="Think.config.extarray.scene_type" id="scene_info"}
						<option value="{$scene_info.code}" {if condition="$scene_info.code eq $Request.param.scene"}selected{/if}>{$scene_info.title}</option>
					{/volist}
		        </select>    		        				
			</div>
			<div class="col-xs-12 col-lg-4">
				<div class="input-group"> <span class="input-group-addon"> <i class="ace-icon fa fa-check"></i> </span>
					<input type="text" name="key_words" id="key_words" class="input-xs form-control" value="{$Request.param.key_words}" placeholder="标题" />
				</div>       
			</div>			
			<div class="col-xs-12 col-lg-4 input-group-btn"> 
				<a class="btn btn-sm btm-input btn-purple ajax-search-form" data-rel="tooltip" data-placement="bottom" title="搜索"> <i class="ace-icon fa fa-search icon-on-right bigger-130"></i> 搜索 </a>
				<a data-ajax-page='true' class="btn btn-sm  btn-success" href="{:url('admin/Material/slideList')}" data-rel="tooltip" data-placement="bottom" title="显示全部"><i class="ace-icon fa fa-globe bigger-130"></i> 显示全部 </a>	
				<a data-ajax-page='true' href="{:new_url('admin/Material/editSlide')}" class="btn btn-sm btn-info"  data-rel="tooltip" data-placement="bottom" title="添加"><i class="ace-icon fa fa-plus bigger-130"></i>添加幻灯片</a>
				{notempty name="slide_list"}
				<a class="btn btn-sm btn-default del-data" data-rel="tooltip" data-placement="bottom" title="删除"> <i class="ace-icon fa fa-trash-o bigger-130"></i> </a>			 
				{/notempty}
			</div>
		</div>  	 
		<div class="row margintop">
			<div class="col-xs-12">
				<table data-locale='zh-CN' data-toggle="table" data-toolbar="#table_bar" data-search='true' data-show-columns="true" class="table table-striped table-bordered table-condensed table-hover">
					<thead>
						<tr>
							<th class="center">
								<label class="pos-rel">
									<input type="checkbox" class="ace input-lg check-all" value="{:url('admin/Material/delSlide')}"/>
									<span class="lbl"></span>															
								</label>											
							</th>
							<th data-sortable="true" class="center hidden-sm hidden-xs">编号</th>
							<th data-sortable="true" class="center">标题</th>
						    <th data-sortable="true" class="center hidden-sm hidden-xs">类型</th>
							<th data-sortable="true" class="center hidden-sm hidden-xs">场景</th>
							<th data-sortable="true" class="center">是否启用</th>
							<th data-sortable="true" class="center hidden-sm hidden-xs">排序</th>
							<th data-sortable="true" class="center hidden-sm hidden-xs">添加时间</th>
							<th style="border-right:#CCC solid 1px;">操作</th>
						</tr>	
					</thead>	
					<tbody>
						{foreach name="slide_list" item="slide_info"}
							<tr class="center" id="data_{$slide_info.id}">
								<td class="hidden-xs" align="center">
									<label class="pos-rel">
										<input class="ace input-lg check-data" type='checkbox' value='{$slide_info.id}'>
										<span class="lbl"></span>
									</label>
								</td>	
								<td class="hidden-sm hidden-xs">{$slide_info.id}</td>
								<td>{$slide_info.title}</td>
								<td>{if condition="$slide_info.is_animate ==1"}
									<span class="label label-info">动画</span>
									{else /}
									<span class="label label-success">静态</span>
									{/if}
								</td>
								<td>
								{volist name="Think.config.extarray.scene_type" id="scene_info"}
									{if condition="$scene_info.code eq $slide_info.scene"}
									<span class="label label-info">{$scene_info.title}</span>
									{/if}
								{/volist}
								</td>
								<td>
									{if condition="$slide_info['is_enabled'] eq 1"}
										<a class="btn btn-minier btn-yellow status-btn" href="{:url('admin/Material/changeSlideStatus')}" data-id="{$slide_info.id}" title="已开启">
											启用
										</a>
										{else/}
										<a class="btn btn-minier btn-danger status-btn" href="{:url('admin/Material/changeSlideStatus')}" data-id="{$slide_info.id}" title="已禁用">
											禁用
										</a>
									{/if}
								</td>	
								<td class='hidden-sm hidden-xs col-xs-1'><input class='form-control input-sm list-order' name="{$slide_info.id}" value='{$slide_info.sort}'></td>					
								<td class="hidden-sm hidden-xs">{$slide_info.create_time|date="Y-m-d",###}</td>
								<td>
									<div class="hidden-sm hidden-xs btn-group action-buttons">
										<a data-ajax-page='true' class="btn btn-xs btn-success" data-rel="tooltip" data-placement="bottom" href="{:new_url('admin/Material/editSlide',['id'=>$slide_info['id']])}" title="编辑">
										<i class="ace-icon fa fa-pencil-square-o bigger-160"></i>
										</a>
									</div>		
									<div class="hidden-md hidden-lg">
										<div class="inline position-relative">
											<button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown" data-position="auto">
												<i class="ace-icon fa fa-cog icon-only bigger-110"></i>
											</button>
											<ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
												<li>
													<a data-ajax-page='true' href="{:new_url('admin/Material/editSlide',['id'=>$slide_info['id']])}"  data-placement="bottom" data-rel="tooltip" title="编辑">
														<span class="green">
															<i class="ace-icon fa fa-pencil bigger-120"></i>
														</span>
													</a>
												</li>
											</ul>
										</div>
									</div>
								</td>
							</tr>
						{/foreach}
					</tbody>								
				</table>
			</div>		
		</div> 
	</form> 
	<div class="row">
		<div class="col-xs-1 btn-corner">
		<a class="btn btn-white btn-yellow btn-sm btn-order" href="{:url('admin/Material/orderSlide')}">排序</a>
		</div>
		<div class="col-xs-10 center">{$page}</div>
		<div class="col-xs-1"></div>	
	</div>	 
{/block}	    	